<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>robot</title>
</head>
<body>
<header class="header">
    <h1>Event Calendar</h1>
    <nav class="nav">
        <a>Home</a>
        <a>About</a>
        <a>Services</a>
        <a>Contact</a>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <p>Logged in as: <span class="username">{% block username %}{% endblock %}</span></p>
    <p>&copy; 2024 Event Calendar</p>
</footer>
</body>
</html>